.clickablePointer {
    cursor: pointer !important;
}

.blackHover {
    &:hover {
        background-color: black !important;
        border-radius: 20px;
    }
}

.roman {
    border-width: 4px !important;
    border-style: solid;
    border-color: red !important;
}