.sidebar {
    width: 250px;
    height: 100%;
    background-color: #1a1a1a;
    color: #f5f5f5;
    padding: 1rem;
}

.listItem {
    color: #f5f5f5;
}

.listItem:hover {
    background-color: #0c0b0b !important;
}

.divider {
    border-color: gold !important;
    margin-top: 0.5rem !important;
}