.header {
    background-color: #1e1e1e !important;
}

.toolbar {
    display: flex;
    justify-content: space-between;
}

.leftSection {
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 1rem;
    font-weight: bold;
    color: #ffffff;
}

.rightSection {
    display: flex;
    align-items: center;
}
