* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    width: 100%;
    background-color: #121212;
    color: #f5f5f5;
    font-family: Arial, sans-serif;
}

:root {
    --dark_background: #343a40;
    --light_text_color: #cedbdb;
}

.dark_background {
    background-color: var(--dark_background) !important;
    color: var(--light_text_color) !important;
}