:root {
    --dark_background: #343a40;
    --light_text_color: #cedbdb;
    --head_foot_color: #002663;
    --black_color: #000000FF;
    --page_background: #0d1117;
    --dark_box_shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --container_background: #ababab;
    --nav_link_hover: #00bfff;
    --table_cell_hoover_color: #293134FF;
    --calendar_border: #dee2e6;
    --text_area_on_focus_border_color: #dee2e6;
    --input_dark_placeholder_color: #696969;
    --input_dark_lighter_color: #838383;
    --input_background_color: #000000;
    --active-month-cell-color: #00BFFFFF;
}

html,
#root {
    background-color: var(--page_background);
}

#header_container {
    background-color: var(--head_foot_color);
    color: var(--light_text_color);
    font-size: calc(10px + 2vmin);
    margin-top: 25px;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--dark_box_shadow);
}

#title {
    color: var(--light_text_color);
    margin-top: 23px;
}

#body_container {
    background-color: var(--container_background);
    min-height: 80vh;
    box-shadow: var(--dark_box_shadow);
}

#footer_container {
    background-color: var(--head_foot_color);
    font-size: calc(4px + 1vmin);
    color: var(--light_text_color);
    justify-content: center;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: var(--dark_box_shadow);
}

#nav_bar {
    margin-left: 30px;
    font-size: calc(10px + 2vmin);
    font-family: 'Lucida Console', serif;
}

#year {
    padding-top: 15px;
    padding-bottom: 10px;
    color: var(--black_color);
    font-size: calc(9px + 1vmin);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Console', serif;
}

.nav_link {
    margin-left: 25px;
    margin-right: 15px;
    color: var(--light_text_color);
    text-decoration: none;
    font-family: 'Lucida Console', serif;
}

.nav_link:hover {
    color: var(--nav_link_hover);
}

.table_cell:hover {
    background: var(--table_cell_hoover_color) !important;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
}

.comment_class {
    height: 3rem;
    font-size: 0.1rem;
    width: 40% !important;
}

.calendar {
    height: 3rem;
    color: var(--light_text_color);
    background: var(--input_background_color);
    border: 1px solid var(--calendar_border)
}

.react-datepicker,
.react-datepicker__header,
.react-datepicker__today-button,
.react-datepicker__month {
    background: var(--dark_background) !important;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name,
.react-datepicker__current-month,
.react-datepicker__today-button {
    color: var(--light_text_color) !important;
}

.react-datepicker__calendar-icon {
    margin-top: 8px;
    color: var(--light_text_color) !important;
}

.react-datepicker__view-calendar-icon input {
    padding: 5px 10px 5px 30px !important;
}

textarea:focus, input:focus {
    border: 1.4px solid var(--text_area_on_focus_border_color) !important;
    outline: 0 none;
}

.btn_and_tooltip:disabled {
    pointer-events: auto !important;
}

input::placeholder {
    color: var(--input_dark_placeholder_color) !important;
}

#new_amount_input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.dark_background {
    background-color: var(--dark_background) !important;
    color: var(--light_text_color) !important;
}

input {
    background-color: var(--input_background_color) !important;
    color: var(--light_text_color) !important;
}

.MuiTableCell-root {
    background-color: var(--dark_background) !important;
    color: var(--light_text_color) !important;
}

.input-group-text {
    background-color: var(--dark_background) !important;
    color: var(--light_text_color) !important;
}

#new_category_checkbox, label[for='new_category_checkbox'], .cursor_pointer {
    cursor: pointer;
}

.dropdown-menu {
    max-height: 220px;
    overflow-y: auto;
}

#empty-year {
    font-size: 20px;
    height: 55px;
    padding-top: 13px;
}

.own_tooltip {
    font-size: 15px !important;
    max-width: 220px !important;
    text-align: center !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background-color: black !important;
    align-content: center !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

#inputFileName:disabled {
    background-color: var(--dark_background) !important;
    color: var(--input_dark_lighter_color) !important;
}

[id^='required_table_cell_'],
[id^='required-month-header-cell'] {
    background-color: var(--active-month-cell-color) !important;
    color: black !important;
}

[id^='required_table_cell_']:hover {
    background: var(--active-month-cell-color) !important;
    cursor: pointer;
    border-radius: 5px;
    color: var(--light_text_color) !important;
    font-weight: bold;
}